/*PAGE BASIC LAYOUT*/
.pageContainer{float:left; width:100%;
    .sidebar{float:left; width:100%; padding:20px 0;}
    .pageContainer{float:left; width:100%; padding:20px;}
}

/*BLOG POST PAGE*/
.blogPostSidebar{float:left; width:100%; padding:40px 0;
    .backToList{float:left; width:100%; padding:5px; color:$black; line-height:50px; font-size:1rem; text-transform:uppercase; border-radius:$radius; font-weight:600;
        i{font-size:1.35rem; float:left; width:50px; height:50px; line-height:50px; border-radius:50%; text-align:center; margin:0 10px 0 0;}
        &:hover{color:$blue; background:darken($sky,5%);}
    }
    .sideTitle{float:left; width:100%; margin:30px 0 10px 0; font-weight:700; font-size:1.2rem;}
    .sideBlogList{float:left; width:100%; border-radius:$radius; overflow:hidden;
        .item{float:left; width:100%;
            .link{float:left; width:100%; color:$black; padding:20px; margin:0; border-bottom:1px solid $silver;
                .title{float:left; width:100%; font-size:1rem; font-weight:700; margin:0 0 5px 0; line-height:1;}
                .summary{float:left; width:100%; font-size:1rem; font-weight:400;
                    p{margin:0; line-height:1;}
                }
                &:hover{background:darken($sky,5%);
                    .title{color:$blue;}
                }
            }
            &:nth-last-child(1){
                .link{border-bottom:none;}
            }
        }
    }
}
.blogPost{float:left; width:100%; padding:20px;
    .blogPanel{float:left; width:100%; padding:40px; box-shadow:$shadow; background:$white; border-radius:$radius; margin:20px 0; font-size:1.1rem; line-height:1.5;
        .blogPostHeading{float:left; width:100%;
            h1{margin:0 0 10px 0;}
        }
        .blogPostContent{float:left; width:100%;
            p{margin:0 0 10px 0;}
        }
    }
}




@media only screen and (min-width:600px){

}

@media only screen and (min-width:1024px){

}

@media only screen and (min-width:1360px){
    .blogPostSidebar{width:300px;}
    .blogPost{width:calc(100% - 300px);}
}

@media only screen and (min-width:1600px){

}