@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.guest-layout {
  background: linear-gradient(to right, rgba(26, 115, 232, 0.7) 0%, rgba(9, 138, 167, 0.7) 100%);
}

.bg-gray-100 {
  background: linear-gradient(to right, rgba(26, 115, 232, 0.7) 0%, rgba(9, 138, 167, 0.7) 100%);
}

.container {
  float: left;
  width: 100%;
}

.row {
  display: flex;
  width: calc(100% + 20px);
  flex-wrap: wrap;
  margin: -10px;
  padding: 5px;
}

.col-1 {
  width: 100%;
  padding: 5px;
}

.col-12 {
  width: 50%;
  padding: 5px;
}

.col-13 {
  width: 33.33333%;
  padding: 5px;
}

.col-14 {
  width: 25%;
  padding: 5px;
}

.col-15 {
  max-width: 20%;
  padding: 5px;
}

.button {
  display: inline-block;
  background: #1a73e8;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.1;
  padding: 11px 30px;
  transition: all 0.2s ease;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
}

.button:hover,
.button:active,
.button:focus {
  background: #3a87eb;
  color: #ffffff;
}

.button.secondary {
  background: #098aa7;
}

.button.secondary:hover,
.button.secondary:active,
.button.secondary:focus {
  background: #0ba6c9;
  color: #ffffff;
}

.button.terciary {
  background: #333333;
}

.button.terciary:hover,
.button.terciary:active,
.button.terciary:focus {
  background: #454545;
  color: #ffffff;
}

.button.quaternary {
  background: #ffffff;
  color: #1a73e8;
}

.button.quaternary:hover,
.button.quaternary:active,
.button.quaternary:focus {
  background: #ededed;
  color: #1a73e8;
}

.button.subscribe {
  background: #FFDF00;
  width: 100%;
  border-radius: 0;
  text-align: center;
  margin: 7px 0 20px 0;
  position: relative;
  color: #333333;
  text-transform: uppercase;
}

.button.subscribe:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #FFDF00;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.button.subscribe:hover,
.button.subscribe:active,
.button.subscribe:focus {
  background: #e6c900;
  color: #333333;
}

.button.subscribed {
  background: #d9d9d9;
  width: 100%;
  border-radius: 0;
  text-align: center;
  margin: 7px 0 20px 0;
  position: relative;
  color: #333333;
}

.button.subscribed:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #d9d9d9;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.button.enroll {
  background: #098aa7;
  width: 100%;
  border-radius: 0;
  text-align: center;
  margin: 7px 0 20px 0;
  position: relative;
  text-transform: uppercase;
}

.button.enroll:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #098aa7;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.button.enroll:hover,
.button.enroll:active,
.button.enroll:focus {
  background: #0ba6c9;
  color: #ffffff;
}

.header {
  float: left;
  width: 100%;
  padding: 15px 10px;
  background: #f5f7fa;
}

.header .logo {
  float: left;
  width: auto;
}

.header .logo img {
  float: left;
  height: 30px;
  width: auto;
}

.header .authBar,
.header .menuBar {
  float: right;
  width: auto;
}

.header .authBar .link,
.header .menuBar .link {
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-size: 1rem;
  line-height: 30px;
  margin: 0 0 0 20px;
}

.header .authBar .link:hover,
.header .authBar .link:active,
.header .authBar .link:focus,
.header .menuBar .link:hover,
.header .menuBar .link:active,
.header .menuBar .link:focus {
  color: #1a73e8;
}

.language {
  float: left;
  width: 100%;
  padding: 10px;
  background: #1a73e8;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
}

.language a {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
}

.language a:hover {
  color: #098aa7;
}

.welcome {
  float: left;
  width: 100%;
}

.welcome .heroBoard {
  display: flex;
  padding: 40px 20px;
  background: url(/images/ahma-app-mobile.jpg?100dd24509b5cd99a4bcfeb24988c72a) center center;
  background-size: cover;
}

.welcome .heroBoard .content {
  float: left;
  width: 100%;
  position: relative;
  margin: 5% 0;
  color: #ffffff;
}

.welcome .heroBoard .content h1 {
  font-size: 2rem;
  font-weight: 800;
  margin: 0 0 40px 0;
  line-height: 1;
  text-transform: uppercase;
}

.welcome .heroBoard .content span {
  font-size: 1.15rem;
  font-weight: 400;
}

.welcome .heroBoard .content .button {
  margin: 20px 0 0 0;
}

.courses {
  float: left;
  width: 100%;
  text-align: center;
  padding: 80px 0 20px 0;
  position: relative;
  background: #f5f7fa;
}

.courses span {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: #1a73e8;
  font-weight: 600;
  font-size: 1rem;
}

.courses h2 {
  margin: 0;
  color: #333333;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.courses p {
  font-weight: 400;
  margin: 20px 0 50px 0;
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .courses p {
    margin: 20px 20px 50px 20px;
  }
}

.courses .courseList {
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex-flow: wrap;
}

.courses .courseList .courseBox {
  background: #f4f4f4;
  padding: 40px 20px;
  width: 100%;
  text-align: left;
  position: relative;
  transition: all 0.5s ease-in-out;
  /*&:hover{transition:all 0.5s ease-in-out;
      background-position:10px -10px;
  }*/
}

.courses .courseList .courseBox span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #098aa7;
  margin: 0;
}

.courses .courseList .courseBox h3 {
  margin: 10px 0;
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
}

.courses .courseList .courseBox p {
  margin: 0 0 20px 0;
  font-weight: 400;
  color: #333333;
}

.courses .courseList .courseBox .icon {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  display: none;
}

.courses .courseList .courseBox .icon svg,
.courses .courseList .courseBox .icon img {
  width: 70px;
}

.courses .courseList .courseBox.kr {
  background: #e7d8d4;
  background: url(/images/kr-bg-mobile.jpg?92c514af5b143bc92dce93246d433d11) center right;
  background-size: cover;
}

.courses .courseList .courseBox.en {
  background: #d1ebf2;
  background: url(/images/en-bg-mobile.jpg?1844d2ad3e0372cbbfdecd694b29d8c6) center right;
  background-size: cover;
}

.superTop {
  float: left;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  background: #f5f7fa;
}

.superTop .content {
  background: linear-gradient(to right, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.3) 100%), url(/images/super-top-mobile.jpg?d35a9abb16e6db6928b2336e3e4564d6) bottom center;
  background-size: cover;
  padding: 80px 20px;
  color: #ffffff;
}

.superTop .content h2 {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1;
}

.superTop .content span {
  float: left;
  width: 100%;
  margin: 0px 0 20px 0;
  font-weight: 400;
  font-size: 1.2rem;
}

.steps {
  float: left;
  width: 100%;
  padding: 80px 0;
  background: #f5f7fa;
  margin: 0;
  text-align: center;
}

.steps h2 {
  margin: 0 0 20px 0;
  color: #333333;
  font-size: 2.5rem;
  font-weight: 700;
  float: left;
  width: 100%;
}

.steps .links {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
}

@media only screen and (max-width: 600px) {
  .steps .links a {
    margin: 5px;
  }
}

.steps .stepList {
  float: left;
  width: 100%;
  padding: 5px;
}

.steps .stepList .step {
  padding: 20px 20px 20px 80px;
  position: relative;
  text-align: left;
  margin: 5px 5px 15px 5px;
  width: calc(100% - 10px);
  float: left;
  background: #ffffff;
  /*border:1px solid $silver;*/
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

.steps .stepList .step .icon {
  float: left;
  width: 80px;
  height: 80px;
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 2.5rem;
  color: #098aa7;
  background: linear-gradient(to right, #1a73e8 0%, rgba(255, 255, 255, 0) 70%), linear-gradient(to left, #098aa7 0%, rgba(255, 255, 255, 0) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.steps .stepList .step h3 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0px 0 10px 0;
}

.steps .stepList .step:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
}

.superBottom {
  float: left;
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.3) 100%), url(/images/super-bottom-mobile.jpg?ec8796272c8292c9eebf173acbf20d95) bottom center;
  background-size: cover;
}

.superBottom .content {
  padding: 80px 20px;
  color: #ffffff;
}

.superBottom .content h2 {
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1;
}

.superBottom .content span {
  float: left;
  width: 100%;
  margin: 0px 0 20px 0;
  font-weight: 400;
  font-size: 1.2rem;
}

.footer {
  float: left;
  width: 100%;
  padding: 40px 0;
  background: #f2f2f2;
}

.footer .column {
  float: left;
  width: 100%;
  padding: 10px;
}

.footer .column h3,
.footer .column h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  margin: 0 0 10px 0;
}

.footer .column ul {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer .column ul li {
  float: left;
  width: 100%;
  margin: 0 0 8px 0;
  padding: 0;
}

.footer .column a {
  display: inline-block;
  font-size: 1rem;
  color: #333333;
  text-decoration: none;
}

.footer .column a:hover {
  color: #1a73e8;
  text-decoration: none;
}

.footer .notation {
  float: left;
  width: calc(100% - 20px);
  border-top: 1px solid #c0c0c0;
  margin: 20px 10px 0;
  padding: 20px 0;
}

.cookiesNotice {
  float: left;
  width: 100%;
  background: #f4f4f4;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
}

.cookiesNotice .cookieButton {
  color: #ffffff;
  background: #1a73e8;
  padding: 3px 10px;
  margin: 0 5px;
}

@media only screen and (min-width: 600px) {
  .header {
    float: left;
    width: 100%;
    padding: 15px 0;
  }
}

@media only screen and (min-width: 1024px) {
  .col-t-1 {
    width: 100%;
    padding: 5px;
  }

  .col-t-12 {
    width: 50%;
    padding: 5px;
  }

  .col-t-13 {
    width: 33.33333%;
    padding: 5px;
  }

  .col-t-14 {
    width: 25%;
    padding: 5px;
  }

  .col-t-15 {
    width: 20%;
    padding: 5px;
  }

  .welcome .heroBoard {
    background: url(/images/ahma-app-heading.jpg?94bfb64545b966fc5d26437930eaecb9) center center;
    background-size: cover;
  }

  .welcome .heroBoard {
    padding: 80px;
  }

  .welcome .heroBoard .content {
    width: 50%;
  }

  .welcome .heroBoard .content h1 {
    font-size: 3.5rem;
  }

  .welcome .heroBoard .content span {
    font-size: 1.25rem;
  }

  .welcome .heroBoard .content .button {
    margin: 40px 0 0 0;
  }

  .courses h2 {
    font-size: 2.5rem;
  }

  .courses .courseList .courseBox {
    padding: 80px 80px;
    flex: 1;
  }

  .courses .courseList .courseBox.kr {
    background: #e7d8d4;
    background: url(/images/kr-bg.jpg?3feed1fb18a6ae8f9544ba0b5c87f6ff) center right;
    background-size: cover;
  }

  .courses .courseList .courseBox.en {
    background: #d1ebf2;
    background: url(/images/en-bg.jpg?5f74fd02f1311d5695ff370804c1f29d) center right;
    background-size: cover;
  }

  .steps .stepList .step {
    max-width: 760px;
    margin: 5px calc(50% - 380px) 15px;
  }

  .steps .stepList .step:nth-child(2n+1) {
    clear: both;
  }

  .superTop .content {
    background: linear-gradient(to right, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.3) 100%), url(/images/super-top.jpg?9cc5fd288dd2d776f6857a4cab0030d1) bottom center;
    background-size: cover;
  }

  .superBottom {
    background: linear-gradient(to right, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.3) 100%), url(/images/super-bottom.jpg?bab704e727bc715f289cc81b075a29c7) bottom center;
    background-size: cover;
  }

  .footer .column {
    width: 25%;
  }
}

@media only screen and (min-width: 1360px) {
  .col-d-1 {
    width: 100%;
    padding: 5px;
  }

  .col-d-12 {
    width: 50%;
    padding: 5px;
  }

  .col-d-13 {
    width: 33.33333%;
    padding: 5px;
  }

  .col-d-14 {
    width: 25%;
    padding: 5px;
  }

  .col-d-15 {
    width: 20%;
    padding: 5px;
  }

  .container {
    max-width: 1200px;
    margin: 0 calc(50% - 600px);
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    margin: 0 calc(50% - 800px);
  }

  .container.ext {
    max-width: 1500px;
    margin: 0 calc(50% - 750px);
  }
}

body.lock {
  overflow: hidden;
}

.courseDashboard {
  float: left;
  width: 100%;
  background: #eeefff;
  border-bottom: 1px solid #333333;
}

.courseDashboard h1,
.courseDashboard h2,
.courseDashboard h3,
.courseDashboard h4,
.courseDashboard h5 {
  font-weight: 700;
}

.courseDashboard h1.blue,
.courseDashboard h2.blue,
.courseDashboard h3.blue,
.courseDashboard h4.blue,
.courseDashboard h5.blue {
  color: #1a73e8;
}

.courseDashboard h1 {
  font-size: 1.5rem;
}

.courseDashboard h2 {
  font-size: 1.4rem;
}

.courseDashboard h3 {
  font-size: 1, 3rem;
}

.courseDashboard h4 {
  font-size: 1.2rem;
}

.courseDashboard h5 {
  font-size: 1.1rem;
}

.courseDashboard .dashHeader {
  float: left;
  width: 100%;
  padding: 0px 0px;
  background: #f5f7fa;
  border-bottom: 1px solid #333333;
}

.courseDashboard .dashHeader .logo {
  float: left;
  width: auto;
}

.courseDashboard .dashHeader .logo a {
  float: left;
  height: 60px;
  width: 150px;
  padding: 15px 20px;
}

.courseDashboard .dashHeader .logo img {
  float: left;
  height: 30px;
  width: auto;
}

.courseDashboard .dashHeader .menuBar {
  float: right;
  width: auto;
  margin: 15px 0;
  padding: 0 20px;
  display: none;
}

.courseDashboard .dashHeader .menuBar .link {
  display: inline-block;
  color: #333333;
  text-decoration: none;
  font-size: 1rem;
  line-height: 30px;
  margin: 0 0 0 20px;
}

.courseDashboard .dashHeader .menuBar .link:hover,
.courseDashboard .dashHeader .menuBar .link:active,
.courseDashboard .dashHeader .menuBar .link:focus {
  color: #1a73e8;
}

.courseDashboard .dashHeader .mobileMenuButton {
  float: right;
  width: 30px;
  height: 40px;
  margin: 10px 15px;
  position: relative;
}

.courseDashboard .dashHeader .mobileMenuButton .dash {
  width: 100%;
  height: 2px;
  background: #1a73e8;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
}

.courseDashboard .dashHeader .mobileMenuButton .dash:before,
.courseDashboard .dashHeader .mobileMenuButton .dash:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #1a73e8;
  position: absolute;
  left: 0;
}

.courseDashboard .dashHeader .mobileMenuButton .dash:before {
  top: -8px;
}

.courseDashboard .dashHeader .mobileMenuButton .dash:after {
  top: 8px;
}

.courseDashboard .dashHeader .mobileMenu {
  float: left;
  width: 300px;
  height: 100vh;
  background: #f4f4f4;
  padding: 20px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.courseDashboard .dashHeader .mobileMenu .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 2px;
  opacity: 0.3;
}

.courseDashboard .dashHeader .mobileMenu .close:hover {
  opacity: 1;
}

.courseDashboard .dashHeader .mobileMenu .close:before,
.courseDashboard .dashHeader .mobileMenu .close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333333;
}

.courseDashboard .dashHeader .mobileMenu .close:before {
  transform: rotate(45deg);
}

.courseDashboard .dashHeader .mobileMenu .close:after {
  transform: rotate(-45deg);
}

.courseDashboard .dashHeader .mobileMenu .userMenu {
  float: left;
  width: 100%;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.courseDashboard .dashHeader .mobileMenu .dashMenu {
  float: left;
  width: 100%;
}

.courseDashboard .dashHeader .mobileMenu a {
  float: left;
  width: auto;
  clear: both;
  color: #333333;
  font-weight: 400;
  line-height: 1.5;
  margin: 10px 0;
}

.courseDashboard .dashHeader .mobileFade {
  float: left;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.7);
}

.courseDashboard .dashSidebar {
  float: left;
  width: 300px;
  padding: 40px 0;
  display: none;
}

.courseDashboard .dashSidebar .item {
  float: left;
  width: 100%;
}

.courseDashboard .dashSidebar .item a {
  float: left;
  width: 100%;
  padding: 5px;
  color: #333333;
  line-height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
}

.courseDashboard .dashSidebar .item a i {
  font-size: 1.35rem;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  /*border:1px solid $white;*/
  text-align: center;
  margin: 0 10px 0 0;
}

.courseDashboard .dashSidebar .item a:hover {
  color: #1a73e8;
  background: #e4e9f2;
}

.courseDashboard .dashContent {
  float: left;
  width: 100%;
  padding: 20px;
  min-height: calc(100vh - 360px);
  padding-bottom: 100px;
  position: relative;
}

.courseDashboard .dashContent .heading {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #c0c0c0;
}

.courseDashboard .dashContent .heading h1 {
  float: left;
  width: 100%;
  margin: 20px 0;
  font-size: 2.2rem;
}

.courseDashboard .dashPanel {
  float: left;
  width: 100%;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
  background: #ffffff;
  border-radius: 5px;
  margin: 10px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.courseDashboard .notice {
  float: left;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
  margin: 0px 0 20px 0;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
}

.courseDashboard .notice a {
  margin-left: 10px;
}

.courseDashboard .notice.paymentMethod {
  background: #FFDF00;
}

.courseDashboard .subscribeNotice {
  float: left;
  width: 100%;
  padding: 20px;
  background: #ffffff;
  margin: 0px 0 20px 0;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  background: #098aa7;
  color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
}

.courseDashboard .subscribeNotice a,
.courseDashboard .subscribeNotice div {
  margin-left: 10px;
}

.courseDashboard .subscribeNotice a:hover,
.courseDashboard .subscribeNotice div:hover {
  cursor: pointer;
}

.courseDashboard .voiceContainer {
  float: left;
  width: 100%;
  margin: 5px 0 10px;
}

.courseDashboard .voiceContainer .voice {
  float: left;
  width: 100%;
  background: #f4f4f4;
  padding: 8px;
  border-left: 5px solid #1a73e8;
}

.courseDashboard .voiceContainer .playVoice {
  float: left;
  padding: 8px 20px;
  background: #1a73e8;
  color: #ffffff;
  text-align: center;
  width: 100%;
  max-width: 100px;
  font-size: 1.2rem;
}

.courseDashboard .voiceContainer .playVoice:hover {
  background: #3181ea;
  cursor: pointer;
}

.courseDashboard .singleLarge {
  font-size: 2.5rem;
}

.courseDashboard .textCenter {
  text-align: center;
}

.courseDashboard .paymentProcessNotification {
  float: left;
  width: 100%;
  margin: 30vh 0;
}

.courseDashboard span#count {
  margin: 20px;
  font-size: 2rem;
  font-weight: 700;
}

.courseDashboard blockquote {
  float: left;
  width: 100%;
  margin: 10px 0;
  background: #f4f4f4;
  color: #333333;
  border-left: 5px solid #1a73e8;
  padding: 10px;
}

.courseDashboard .courseList {
  float: left;
  width: calc(100% + 20px);
  margin: 0 -10px;
}

.courseDashboard .courseList .item {
  float: left;
  width: 100%;
  padding: 10px;
}

.courseDashboard .courseList .item .box {
  float: left;
  width: 100%;
  border: 1px solid #ebebeb;
  background: #ebebeb;
  padding: 20px;
  text-align: center;
}

.courseDashboard .courseList .item .box h3 {
  color: #333333;
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  font-size: 1.7rem;
}

.courseDashboard .courseList .item .box h3 a {
  color: #333333;
}

.courseDashboard .courseList .item .box h3 a:hover {
  color: #1a73e8;
}

.courseDashboard .courseList .item .box p {
  color: #333333;
}

.courseDashboard .courseList .item a:hover h3 {
  color: #1a73e8;
}

.courseDashboard .courseAbout {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
  border-radius: 5px;
  background: #ffffff;
  padding: 20px;
}

.courseDashboard .courseAbout .headingAbout {
  float: left;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.courseDashboard .courseAbout .headingAbout.active {
  color: #1a73e8;
}

.courseDashboard .courseAbout .contentAbout {
  float: left;
  width: 100%;
  padding: 10px;
}

.courseDashboard .lessonList {
  float: left;
  width: 100%;
  margin: 10px 0;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
}

.courseDashboard .lessonList h2 {
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}

.courseDashboard .lessonList .item {
  float: left;
  width: 100%;
}

.courseDashboard .lessonList .item a {
  float: left;
  width: 100%;
  color: #333333;
  border: 1px solid #c0c0c0;
  padding: 20px 60px 20px 20px;
  font-weight: 600;
  position: relative;
}

.courseDashboard .lessonList .item a:before {
  content: "";
  width: 1px;
  height: 80%;
  top: 10%;
  right: 60px;
  position: absolute;
  background: #c0c0c0;
}

.courseDashboard .lessonList .item a:after {
  content: "\F054";
  font-family: "Font Awesome 5 Free";
  color: #1a73e8;
  position: absolute;
  right: 20px;
  font-size: 1.2rem;
}

.courseDashboard .lessonList .item a:hover {
  color: #1a73e8;
}

.courseDashboard .lessonList .item + .item {
  margin-top: 5px;
}

.courseDashboard .dashFooter {
  float: left;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #c0c0c0;
  margin-top: 40px;
}

.courseDashboard .dashFooter a {
  color: #333333;
}

.courseDashboard .dashFooter a:hover {
  color: #1a73e8;
}

.supportTypes {
  float: left;
  width: calc(100% + 10px);
  margin: 0 -5px 10px;
}

.supportTypes a {
  float: left;
  width: auto;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

.supportTypes a:hover {
  color: #1a73e8;
  background: #e4e9f2;
}

.supportTypes.support a.support {
  color: #1a73e8;
  background: #e4e9f2;
}

.supportTypes.feature-request a.feature-request {
  color: #1a73e8;
  background: #e4e9f2;
}

.supportTypes.billing a.billing {
  color: #1a73e8;
  background: #e4e9f2;
}

.ahma-form {
  float: left;
  width: 100%;
}

.ahma-form .form-control {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  color: black;
  border-color: #333333;
  border-radius: 5px;
  padding: 10px;
}

.ahma-form input.form-control {
  height: 50px;
}

.ahma-form textarea.form-control {
  min-height: 150px;
  max-width: 100%;
}

.ahma-form input[type=submit] {
  border: none;
  outline: none;
}

.ahma-form input[type=submit]:hover {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .courseDashboard .courseList .item {
    width: 50%;
  }

  .courseDashboard .courseList .item:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (min-width: 1024px) {
  .courseDashboard .dashHeader .logo a {
    padding: 15px 5px;
  }

  .courseDashboard .dashHeader .menuBar {
    display: block;
  }

  .courseDashboard .mobileMenuButton {
    display: none;
  }

  .courseDashboard .dashSidebar {
    display: block;
  }

  .courseDashboard .dashContent {
    width: calc(100% - 300px);
  }
}

.ahmaPager {
  float: left;
  width: 100%;
  margin: 10px 0 30px 0;
}

.ahmaPager nav {
  float: Left;
  width: 100%;
  /*>div{float:left; width:100%;
      span.cursor-default{float:left; width:auto; background:$white; border:1px solid $silver; padding:10px; color:$black;}
      a{float:left; width:auto; background:$white; border:1px solid $silver; padding:10px; color:$black;
          &:hover{background:$silver;}
      }
      svg{color:$black;}
  }*/
}

.ahmaPager nav ul.pagination {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.ahmaPager nav ul.pagination li {
  float: left;
  margin: 0;
  padding: 0;
}

.ahmaPager nav ul.pagination li span,
.ahmaPager nav ul.pagination li a {
  float: left;
  padding: 5px;
  font-size: 1rem;
  color: #333333;
  background: #ffffff;
  margin: 1px;
  text-align: center;
  width: 30px;
}

.ahmaPager nav ul.pagination li span:hover,
.ahmaPager nav ul.pagination li a:hover {
  color: #1a73e8;
  cursor: pointer;
}

.ahmaPager nav ul.pagination li.active span,
.ahmaPager nav ul.pagination li.active a {
  color: #1a73e8;
}

/*PAGE BASIC LAYOUT*/

.pageContainer {
  float: left;
  width: 100%;
}

.pageContainer .sidebar {
  float: left;
  width: 100%;
  padding: 20px 0;
}

.pageContainer .pageContainer {
  float: left;
  width: 100%;
  padding: 20px;
}

/*BLOG POST PAGE*/

.blogPostSidebar {
  float: left;
  width: 100%;
  padding: 40px 0;
}

.blogPostSidebar .backToList {
  float: left;
  width: 100%;
  padding: 5px;
  color: #333333;
  line-height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 600;
}

.blogPostSidebar .backToList i {
  font-size: 1.35rem;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 0 0;
}

.blogPostSidebar .backToList:hover {
  color: #1a73e8;
  background: #e4e9f2;
}

.blogPostSidebar .sideTitle {
  float: left;
  width: 100%;
  margin: 30px 0 10px 0;
  font-weight: 700;
  font-size: 1.2rem;
}

.blogPostSidebar .sideBlogList {
  float: left;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.blogPostSidebar .sideBlogList .item {
  float: left;
  width: 100%;
}

.blogPostSidebar .sideBlogList .item .link {
  float: left;
  width: 100%;
  color: #333333;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid #c0c0c0;
}

.blogPostSidebar .sideBlogList .item .link .title {
  float: left;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 5px 0;
  line-height: 1;
}

.blogPostSidebar .sideBlogList .item .link .summary {
  float: left;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}

.blogPostSidebar .sideBlogList .item .link .summary p {
  margin: 0;
  line-height: 1;
}

.blogPostSidebar .sideBlogList .item .link:hover {
  background: #e4e9f2;
}

.blogPostSidebar .sideBlogList .item .link:hover .title {
  color: #1a73e8;
}

.blogPostSidebar .sideBlogList .item:nth-last-child(1) .link {
  border-bottom: none;
}

.blogPost {
  float: left;
  width: 100%;
  padding: 20px;
}

.blogPost .blogPanel {
  float: left;
  width: 100%;
  padding: 40px;
  box-shadow: 0 8px 16px 0 rgba(51, 51, 51, 0.2);
  background: #ffffff;
  border-radius: 5px;
  margin: 20px 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.blogPost .blogPanel .blogPostHeading {
  float: left;
  width: 100%;
}

.blogPost .blogPanel .blogPostHeading h1 {
  margin: 0 0 10px 0;
}

.blogPost .blogPanel .blogPostContent {
  float: left;
  width: 100%;
}

.blogPost .blogPanel .blogPostContent p {
  margin: 0 0 10px 0;
}

@media only screen and (min-width: 1360px) {
  .blogPostSidebar {
    width: 300px;
  }

  .blogPost {
    width: calc(100% - 300px);
  }
}

